@value cellHeight: 60vh;

.SmileFace {
    height: cellHeight;
    background-image: url("../img/face.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
